:root {
  --primary-color: #5f1d2d;
  --secondary-color: #ff809e;
  --background-color: #f0f0f0;
  --border-color: #2f1d22;
  --hover-color: #925363;
}

.home {
  text-align: center;
  color: var(--primary-color);
}

.email,
.password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.email input,
.password input {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  outline: none;
}

.email input {
  border-radius: 5px;
  width: 250px;
}

.password input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 217.5px;
}

.password-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.password-box button {
  padding: 9px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px var(--border-color);
  background-color: var(--background-color);
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 5px;
}

.task-box {
  background-image: linear-gradient(horizontal, #ff8da8, #000000);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8f364b;
}

.glass,
.add,
.create,
.login-form,
.logout {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-background-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  color: #5f1d2d;
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.add,
.create,
.logout {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add,
.logout {
  display: inline-flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.add {
  margin-left: 5px;
  margin-top: 5px;
}

.logout {
  margin-left: 10px;
  margin-top: 10px;
}

.input-box {
  margin-top: 20px;
}

.create {
  display: inline-flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;

  margin-right: 7px;
  margin-bottom: 5px;
}

.create-box {
  display: flex;
  flex-direction: column;
}

.complete {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 7px;
  margin-bottom: 5px;
  padding: 0;
  border: none;
  background: none;
  color: var(--hover-color);
}

.complete:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.input {
  border: none;
  background: none;

  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20;
  margin-bottom: 3px;
}

.input::placeholder,
.input {
  color: var(--primary-color);
}

.input:focus {
  outline: none;
}

.task-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: #5f1d2e30 solid 1px;
  display: flex;
  flex-direction: row; /* make children horizontal */
}

.task-box-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.task-details {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
}

.task-title {
  margin-bottom: 5px;

  font-size: 20px;
  font-weight: bold;
}

.task-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-start;

  margin-left: auto;
  margin-top: 10px;
}

.complete-button,
.complete-button-clicked {
  border: #ff809eb5;
  border-style: solid;
  border-radius: 50%;
  background-color: #fccad6;
  color: var(--primary-color);
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  padding: 8px;
}

.complete-button:hover,
.complete-button-clicked {
  background-color: var(--secondary-color);
}
