body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #ff809d;
    background-image: linear-gradient(80deg, #ff809d 0%, #ffabbe 100%);
  font-family: "Advent Pro";
}
