.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-size: 30px;
}

.login-form {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.create-new-account {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}
.create-new-account:hover {
  color: var(--hover-color);
}

.cancel {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 10px;
  padding: 0;
  border: none;
  background: none;
  font-family: "Advent Pro";
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
}

.cancel:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.create-account {
  margin: 20px;
}
